p:nth-child(5) {
   background: revert;
   box-shadow: revert;
   padding: revert;
}

a {
   font-style: Arial;
   font-size: 12px;
}

body {
   font-style: Arial;
   background: linear-gradient(lightslategray)
}

/* TODO: Add styles here */