p:nth-child(5) {
   background: revert;
   box-shadow: revert;
   padding: revert;
}

a {
   font-style: Arial;
   font-size: 12px;
}

body {
  height: 100%;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(white, lightgray);
}



/* TODO: Add styles here */